html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

header {
    background: linear-gradient(246.26deg, #18244a 0%, #fb3796 100%);
    padding: 20px 0;
    color: #fff;
    font-weight: 800;
    min-height: 275px;
}

h1 {
    font-size: 22px;
    line-height: 38px;
}

#input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    text-align: center;
    width: 400px;
}

#input[value] {
    font-size: 100px;
    color: #fff;
    font-weight: 800;
    line-height: 24.4px;
}

section {
    background: #1f2937;
    padding: 20px 0px;
    min-height: 50vh;
}

.convert {
    padding: 5px 0px;
    font-size: 14px;
    line-height: 20px;
}

h3 {
    font-weight: 600;
    color: #fff;
}

.convert p {
    color: #d2d2d2;
    font-weight: 400;
}
